@charset "utf-8";


.search__contents .modal .modal_body {
    width: 90%;
    max-height: 80%;
    padding: 20px;
  }

.sec02 .inner {
    flex-direction: column;
}

.sec02 .inner .iframe {
    width: 100%;
    order: -1;
    margin: 30px 0;
}

.sec02 .inner .detail {
    width: 100%;
}

.search__menu .modal.show ul li.actor__name{
    padding-left: 47px;
    text-indent: -47px;
}